<?xml version="1.0" encoding="UTF-8" ?>
<Server>
    <Service name="Catalina">
        <Connector port="18080"/>
        <Connector port="18081"/>
        <Connector port="18082"/>
        <Engine defaultHost="localhost">
            <Host name="localhost">
                <Context path="/b" docBase="F:/dev/G1g4loCat/b"/>
            </Host>
        </Engine>
    </Service>

</Server>